<mat-drawer-container height=100%>
    <mat-drawer class="drawer" mode="side" opened>
      <div class="container">
        <div class="row">
          <mat-card *ngFor="let tweet of tweets" class="tweetCardNone">
            <mat-card-header>
              <div mat-card-avatar>
                <img matListAvatar style="border-radius: 50%;" src="{{tweet['user']['profile_image']}}">
              </div>
              <mat-card-title style="color: #465775">{{tweet['user']['name']}}</mat-card-title>
              <mat-card-subtitle>@{{tweet['user']['screen_name']}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p style="text-align: left;">
                {{tweet['tweets']['text']}}
              </p>
            </mat-card-content>
            <div class="row">
              <div class="col-md-1">
                <div class="row">
                  <mat-icon>favorite</mat-icon>
                  <p>{{tweet['tweets']['favorite_count'][0]}}</p>
                </div>
              </div>
              <div class="col-md-1">
                <div class="row">
                  <mat-icon>refresh</mat-icon>
                  <p>{{tweet['tweets']['retweet_count'][0]}}</p>
                </div>
              </div>
              <div class="col-md-10">
                <p>{{tweet['tweets']['date'] | date:'d/M/yy h:mm a'}}</p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <button mat-icon-button routerLink="" style="color: #465775; position: fixed">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
          <div class="col-md-10">
            <mat-card class="filtersCard" style="margin-top: 10px;">
              <mat-card-header>
                <mat-card-title style="color: #465775;">Filtros</mat-card-title>
              </mat-card-header>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="detailFormField">
                      <mat-label class="detailFormLabel">Buscar palabras</mat-label>
                      <input matInput #wordInput (keyup.enter)="addWord(wordInput.value)">
                    </mat-form-field>
                    <mat-list>
                      <mat-list-item *ngFor="let word of selectedWords">
                        <div mat-line>{{word}}</div>
                        <button mat-icon-button (click)="removeWord(word)">
                          <mat-icon>clear</mat-icon>
                        </button>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="detailFormField">
                      <mat-label class="detailFormLabel">Elegir cuentas</mat-label>
                      <mat-select>
                        <mat-option value="option" *ngFor="let account of accounts" (click)="addAccount(account)">
                          <p style="text-align: left;">@{{account['screen_name']}}</p>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-list>
                      <mat-list-item *ngFor="let account of selectedAccounts">
                        <div mat-line>@{{account}}</div>
                        <button mat-icon-button (click)="removeAccount(account)">
                          <mat-icon>clear</mat-icon>
                        </button>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="detailFormField">
                      <mat-label class="detailFormLabel">Fecha de inicio</mat-label>
                      <input matInput [max]="maxDate" [matDatepicker]="picker" (dateChange)="setDate($event)"
                        [value]="selectedDate">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <mat-card-actions>
                <button mat-button (click)="applyFilters()" style="color: #465775;">Aplicar filtros</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <mat-card class="detailGraphCard">
              <mat-card-header>
                <mat-card-title style="color: #465775;">Frecuencia de las palabras relacionadas con la búsqueda</mat-card-title>
              </mat-card-header>
              <app-word-freq [freqChartData]="freqChartData" [freqChartLabels]="freqChartLabels"></app-word-freq>
            </mat-card>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  