<div class="container-fluid">
  <h2 mat-dialog-title style="color: #465775;">Ajustes</h2>
  <div mat-dialog-content>
    <mat-divider></mat-divider>
    <h3 style="color: #465775;">Cuentas</h3>
    <form [formGroup]='usersForm'>
      <mat-form-field style="width: 20vw">
        <mat-label>Seguir cuenta</mat-label>
        <input matInput [matAutocomplete]="auto" formControlName='userInput'>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let user of filteredUsers" [value]="user" (click)="addAccount(user)">
            <div class="row">
              <div class="col-md-4">
                <img style="border-radius: 50%;" src="{{user['profile_image']}}">
              </div>
              <div class="col-md-8">
                <p style="text-align: left;">@{{user['screen_name']}}</p> 
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <mat-list>
      <h2 *ngIf="data['accounts'].length == 0" class="noContentMessage" style="padding-top: 5vh; padding-bottom: 5vh;">No hay cuentas en la base de datos</h2>
      <mat-list-item *ngFor="let account of data['accounts']">
        <img matListAvatar src="{{account['profile_image']}}">
        <h3 matLine style="text-align: left;">{{account['name']}}</h3>
        <p matLine style="text-align: left;">@{{account['screen_name']}}</p>
        <button mat-button (click)="removeAccount(account['screen_name'])"
          style="color: #465775; padding-right: 4vw;">Dejar de seguir</button>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]>Cancelar</button>
    <button mat-flat-button [mat-dialog-close]="data" style="background-color: #465775; color: white;">Guardar</button>
  </div>
</div>
