<mat-card class="graphCard">
    <div class="row" id="graphCardHeader">
      <div class="col-md-10">
        <h3 class="cardTitle" *ngIf="showing==true">{{title}}</h3>
      </div>
      <div class="col-md-2">
        <button mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
    <div class="row" id="cardBody" *ngIf="showing==true">
      <span class="col-md-1"></span>
      <div>
          <<ng-template graph></ng-template>
      </div>
      <span class="col-md-1"></span>
    </div>
    <div class="row" id="cardBody" *ngIf="showing==false" style="text-align: center;">
      <h2 style="color: grey;">Haz click en el ícono de configuración para configurar el gráfico</h2>
    </div>
  </mat-card>
  