<mat-drawer-container height=100%>
  <mat-drawer class="drawer" mode="side" opened>
    <div class="container">
      <div class="col-sm">
        <div class="row">
          <h1>Dashboard</h1>
        </div>
        <div class="row justify-content-center">
          <button mat-flat-button routerLink="/tweets" style="background-color: #465775; color: white; margin-bottom: 2vh; margin-top: 
          4vh;">
            Ver tweets
          </button>
          <button mat-flat-button (click)="extractTweets()" style="background-color: #465775; color: white;">
            Descargar nuevos tweets
          </button>
          <button mat-button (click)="openSettings()" style="color: #465775; margin-top: 1vh">
            Ajustes
          </button>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
          <div class="row justify-content-center">
            <mat-card class="graphCard">
              <mat-card-header>
                <mat-card-title *ngIf="showingHistoric" class="cardTitle">
                  Evolución de retweets y likes de las cuentas elegidas
                </mat-card-title>
              </mat-card-header>
              <app-bar-historic *ngIf="showingHistoric"></app-bar-historic>
              <h2 style="color: grey; text-align: center;" *ngIf="!showingHistoric">No has configurado el gráfico</h2>
              <mat-card-actions>
                <button mat-button routerLink="/config-historico" style="color: #465775;">Configurar</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="row justify-content-center">
            <mat-card class="graphCard">
              <mat-card-header>
                <mat-card-title *ngIf="showingGraph" class="cardTitle">
                  <!-- Evolución de retweets y likes -->
                </mat-card-title>
              </mat-card-header>
              <app-graph *ngIf="showingGraph"></app-graph>
              <h2 style="color: grey; text-align: center;" *ngIf="!showingGraph">No has configurado el gráfico
              </h2>
              <mat-card-actions>
                <button mat-button style="color: #465775;">Configurar</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="row justify-content-center">
            <mat-card class="graphCard">
              <mat-card-header>
                <mat-card-title *ngIf="showingBubble" class="cardTitle">
                  Likes, retweets y número de tweets
                </mat-card-title>
              </mat-card-header>
              <app-bubble *ngIf="showingBubble"></app-bubble>
              <h2 style="color: grey; text-align: center;" *ngIf="!showingBubble">No has configurado el gráfico</h2>
              <mat-card-actions>
                <button mat-button routerLink="config-burbuja" style="color: #465775;">Configurar</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="row justify-content-center">
            <mat-card class="graphCard">
              <mat-card-header>
                <mat-card-title *ngIf="showingFreq" class="cardTitle">
                  Frecuencia de las palabras relacionadas con la búsqueda
                </mat-card-title>
              </mat-card-header>
              <app-word-freq *ngIf="showingFreq"></app-word-freq>
              <h2 style="color: grey; text-align: center;" *ngIf="!showingFreq">No has configurado el gráfico</h2>
              <mat-card-actions>
                <button mat-button routerLink="config-frecuencia" style="color: #465775;">Configurar</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
