<mat-drawer-container height=100%>
    <mat-drawer class="drawer" mode="side" opened>
        <div class="container">
            <div class="col-md">
                <div class="row">
                    <h1>Tweets</h1>
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <button mat-icon-button routerLink="" style="color: #f15252;">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div class="col-md-8">
                    <mat-card class="tweetCard" *ngFor="let tweet of tweets">{{tweet}}</mat-card>
                </div>
                <div class="col-md-2">
    
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
