

#asdf {
    border-color: black;
    border-style: solid;
}

.graphCard {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 38vw;
    /* height: 280px; */
    /* width: inherit; */
}

/* .filtersCard {
    margin: 10px;

}
*/
.detailGraphCard {
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    /* background-color: #22344e; */
    /* padding-bottom: 0;
    padding-left: 0;
    padding-right: 0; */
} 

.tweetCardPositive {
    margin: 10px;
    border-top: 4px solid lightgreen;
}

.tweetCardNegative {
    margin: 10px;
    border-top: 4px solid #f15252;
}

.tweetCardNeutral {
    margin: 10px;
    border-top: 4px solid #f9f871;
}

.tweetCardNone {
    margin: 10px;
}

/* .settingsCard {
    margin-l
} */

.detailFormField {
    width: inherit;
}

.detailFormLabel {
    font-size: 1em;
}


.cardTitle {
    color: #465775;
}

.detailGraphTitle {
    text-align: center;
    color: white;
    margin-left: 10px;
}

#graphCardHeader {
    /* height: 50px; */
    text-align: center;
}

.wordSearch {
    margin-left: 4px;
}

mat-drawer-content {
    background-color: #f5f5f6;
    height: 100vh;
}

mat-drawer {
    background-color:#e1e2e1;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20vw;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #465775!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #465775;
  }

h1 {
    font-size: 2.5vw;
    font-weight: bold;
    color: #465775;
}

app-graph {
    width: 20px;
    height: 50vh;
}
