

#asdf {
    border-color: black;
    border-style: solid;
}

.graphCard {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 38vw;
    /* height: 280px; */
    /* width: inherit; */
}

/* .filtersCard {
    margin: 10px;

}
*/
.detailGraphCard {
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    /* background-color: #22344e; */
    /* padding-bottom: 0;
    padding-left: 0;
    padding-right: 0; */
} 

.detailFormField {
    width: inherit;
}

.detailFormLabel {
    font-size: 1em;
}

.tweetCard {
    margin: 10px;
}

.cardTitle {
    color: #22344e;
}

.detailGraphTitle {
    text-align: center;
    color: white;
    margin-left: 10px;
}

#graphCardHeader {
    /* height: 50px; */
    text-align: center;
}

.wordSearch {
    margin-left: 4px;
}

mat-drawer-content {
    background-color: #f5f5f6;
    height: 100vh;
}

mat-drawer {
    background-color:#e1e2e1;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20vw;
}

h1 {
    font-size: 2.5vw;
    font-weight: bold;
    color: #f15252;
}
