<mat-drawer-container height=100%>
  <mat-drawer class="drawer" mode="side" opened>
    <div class="container">
      <div class="col-md">
        <div class="row" style="text-align: center;">
          <h1>Dashboard</h1>
        </div>
        <form>
          <div class="row">
            <mat-form-field>
              <mat-label>Seguir cuenta</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-checkbox>Cuenta1</mat-checkbox>
          </div>
        </form>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <app-bar-historic></app-bar-historic>
        </div>
        <div class="col-md-6">
          <app-bubble></app-bubble>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-graph></app-graph>
        </div>
        <div class="col-md-6">
          <app-word-freq></app-word-freq>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
